BackgroundProcessing/Tasks/PayCom/TestPAYCOM/Service References/paycomService/PaycomAPI2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://api.paycomonline.net" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaycomAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IPaycomAPI_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="https://api.paycomonline.net" location="https://www.paycomonline.net/PaycomAPI/v1.1/PaycomAPI.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpsBinding_IPaycomAPI" type="i0:IPaycomAPI">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IPaycomAPI_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="api_login">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_logout">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_punchimport">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_punchimport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_eedirectory">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_eedirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_clientlabor">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_clientlabor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_clientearning">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_clientearning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_employee_streamed">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_employee_streamed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_employee">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_employee_sensitive_streamed">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_employee_sensitive_streamed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_employee_sensitive">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_employee_sensitive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_eechanges">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_eechanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_eechanges_sensitive">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_eechanges_sensitive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_newhire">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_newhire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_punchhistory">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_punchhistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_punchhistory_streamed">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_punchhistory_streamed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_get_employee_tax">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_get_employee_tax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_set_employee">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_set_employee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_set_categorydetail">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_set_categorydetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_add_categorydetail">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_add_categorydetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_RunReportForDateRange">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_RunReportForDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_RunReportForTransaction">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_RunReportForTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_GenerateReportForDateRange">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_GenerateReportForDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_GenerateReportForTransaction">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_GenerateReportForTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="api_GetGLMaps">
      <soap:operation soapAction="https://api.paycomonline.net/IPaycomAPI/api_GetGLMaps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaycomAPI">
    <wsdl:port name="BasicHttpsBinding_IPaycomAPI" binding="tns:BasicHttpsBinding_IPaycomAPI">
      <soap:address location="https://www.paycomonline.net/PaycomAPI/v1.1/PaycomAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>