SiteLink/RDMLink/Service References/RDM_Services/import_export_Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://throwdownplanner.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://throwdownplanner.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://throwdownplanner.com/">
      <s:element name="FileUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FileUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FileUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FileUploadSoapIn">
    <wsdl:part name="parameters" element="tns:FileUpload" />
  </wsdl:message>
  <wsdl:message name="FileUploadSoapOut">
    <wsdl:part name="parameters" element="tns:FileUploadResponse" />
  </wsdl:message>
  <wsdl:portType name="import_export_ServicesSoap">
    <wsdl:operation name="FileUpload">
      <wsdl:input message="tns:FileUploadSoapIn" />
      <wsdl:output message="tns:FileUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="import_export_ServicesSoap" type="tns:import_export_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUpload">
      <soap:operation soapAction="http://throwdownplanner.com/FileUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="import_export_ServicesSoap12" type="tns:import_export_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FileUpload">
      <soap12:operation soapAction="http://throwdownplanner.com/FileUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="import_export_Services">
    <wsdl:port name="import_export_ServicesSoap" binding="tns:import_export_ServicesSoap">
      <soap:address location="http://localhost:51713/Portal/services/import_export_Services.asmx" />
    </wsdl:port>
    <wsdl:port name="import_export_ServicesSoap12" binding="tns:import_export_ServicesSoap12">
      <soap12:address location="http://localhost:51713/Portal/services/import_export_Services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>